.sidebar {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 200, 150, .7);
    position: relative;
}

.sidebarWrapper {
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.avatarContent,
.socialContent,
.blogContent {
    width: 100%;
    height: auto;
    padding: 50px 10px 50px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socialContent {
    flex-direction: column;
    justify-content: center;
}

.iconsContent {
    margin-top: 15px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.socialIcon {
    font-size: 26px;
}

.blogContent {
    flex-direction: column;
}