.companySection {
    width: 100%;
    min-height: 250px;
    height: auto;
    background-color: #00c896;
    opacity: .8;
    color: #1A202C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sliderCompanies {
    width: 80%;
    height: 100%;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}