footer.footer {
    width: 100%;
    height: auto;
    min-height: 134px;
    background-color: #011627;
    padding-top: 34px; 
    color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 600px) {
    .politicas_box {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}