.postHeader {
    width: 100%;
    height: auto;
    margin-bottom: 55px;
}

.metadata-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.author-content,
.article-metadata-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.article-metadata-content {
    justify-content: flex-end;
}

hr.singleArticleSeparator {
    display: none;
}

@media only screen and (max-width: 600px) {
    .postHeader {
        margin: 132px 0px 40px 0px;
    }
    .metadata-content {
        flex-direction: column;
    }
    .author-content {
        margin: 10px 0px;
    }
    .article-metadata-content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .headSeparator {
        display: none;
    }
    .readingTime,
    .publishOn {
        margin: 2px 0px;
    }
    hr.singleArticleSeparator {
        height: 4px;
        border: 0;
        border-top: 4px solid var(--green-primary);
        margin: 15px 0px;
    }
}